name: Trigger Azure DevOps Pipeline

on:
  push:
    branches:
      - main   # adjust this branch if needed
  workflow_dispatch: # allows manual trigger

jobs:
  trigger-pipeline:
    runs-on: ubuntu-latest

    steps:
      # - name: Trigger Azure DevOps Pipeline
      #   uses: azure/pipelines@v1.2
      #   with:
      #     azure-devops-project-url: https://dev.azure.com/mariusancutescu/Bosch-assigment
      #     azure-pipeline-name: testgh
      #     azure-devops-token: ${{ secrets.AZURE_DEVOPS_TOKEN }}
      #     azure-pipeline-variables:  '{"variable1": "value1", "variable2": "value2"}' # optional stringified json

      # - name: Azure CLI Login
      #   uses: azure/login@v1
      #   with:
      #     creds: ${{ secrets.AZURE_CREDENTIALS }}

      # - name: Install Azure DevOps Extension
      #   run: az extension add --name azure-devops

      # - name: Trigger Azure DevOps Pipeline
      #   run: |
      #     az pipelines run \
      #       --name "testgh" \
      #       --organization "https://dev.azure.com/mariusancutescu" \
      #       --project "Bosch-assigment" \
      #       --parameters variable1=value1 variable2=value2
      - name: az login
        uses: azure/login@v2
        with: 
          creds: ${{ secrets.AZCREDS}}
      - name: Get ADO token
        uses: azure/cli@v2
        with:
          inlineScript: |
            ACCESS_TOKEN=$(az account get-access-token --resource 499b84ac-1321-427f-aa17-267ca6975798 --query "accessToken" --output tsv)
            echo "AZURE_DEVOPS_EXT_PAT=$ACCESS_TOKEN" >> $GITHUB_ENV

      
      - name: Configure Azure DevOps Authentication
        run: |
          az devops configure --defaults organization=https://dev.azure.com/mariusancutescu project=Bosch-assigment
          az pipelines run \
            --name "testgh" \
            --parameters param1=value1 \
                          param2=value2 \
                          isTrue=false

